<div class="background p-0 m-0">
  <div class="container py-5 text-center">
  <div class="row py-5">
<div class="col-md-6">
  <h1>The admin's office</h1>
</div>
<div class="col-md-6">
  <form [formGroup]="form" class="border p-5 shadow rounded" *ngIf="param=='login'">
    <label class="p-2">Email</label><br>
    <input type="text" class="p-2 w-50" formControlName="email"><br>
    <p *ngIf="submitted==true && form.controls['email'].invalid" class="text-danger fw-bolder">Email non valida. Prova ad inserire un formato tipo : a&#64;a.com</p><br>
    <label class="p-2">Password</label><br>
    <input type="text" class="p-2 w-50" formControlName="password"><br>
    <p *ngIf="submitted==true && form.controls['password'].invalid" class="text-danger fw-bolder">Password non valida. Almeno 6 caratteri.</p><br>
    <button class="btn m-3 p-2 btn-light" (click)="login()">Login</button>
    <p *ngIf="loginError">{{loginError}}</p>
  </form>
  <form [formGroup]="formSignup" class="border p-5 shadow rounded" *ngIf="param=='signup'">
    <label class="p-2">Nome</label><br>
    <input type="text" class="p-2 w-50"><br>
    <label class="p-2">Cognome</label><br>
    <input type="text" class="p-2 w-50"><br>
    <label class="p-2">Email</label><br>
    <input type="text" class="p-2 w-50"><br>
    <label class="p-2">Password</label><br>
    <input type="text" class="p-2 w-50"><br>
    <label class="p-2">Ripeti Password</label><br>
    <input type="text" class="p-2 w-50"><br>
    <button class="btn m-3 p-2 btn-light" (click)="signup()">Signup</button>
  </form>
</div>
  </div>
</div>
</div>

