@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  h1{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
font-size: 40px;
line-height: 1.2;

  }
  .background{
    background: url('./assets/nature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 86vh;
  }

}
.bg{
  background-color: rgba(255,255,255,0.8);
  p{
    font-weight: bold;
  }
}
.on-hover{
  transition: 1s;
  &:hover{
    scale: 1.05;
    transition:1s;
    cursor: pointer;
  }
}