
<div class="background">
  <div class="container py-5 text-center">
    <div class="row py-5">
  <h1>Inserisci un blog post.</h1>
  <div class="col-md-4 p-3">
<div class="border rounded shadow bg-l p-3">
  <h2>Recupera un blog post</h2>
  <p class="text-danger py-3" *ngIf="errorBlog!=''">{{errorBlog}}</p>
  <form [formGroup]="blogForm" >
    <label class="p-1">Cerca per titolo</label>
    <input type="text" class="form-control" formControlName="titolo" (input)="searchForm()">
  </form>
  <ul *ngIf="errorBlog==''&&blogs&&blogs.content">
    <li *ngFor="let b of blogs?.content">
    {{b.id + " - " + b.titolo}}</li>
  </ul>
  <ul *ngIf="errorBlog==''&&blogs&&!blogs.content">
    <li *ngFor="let b of blogs">
    {{b.id + " - " + b.titolo}}</li>
  </ul>
  <p class="text-danger fw-bold" *ngIf="blogs&&blogs.content&&blogs.content.length==0||
  blogs&&!blogs.content&&blogs.length==0">Non ci sono blog presenti.</p>
  <div class="d-flex w-100 justify-content-center" *ngIf="blogs&&blogs.content">
    <button class="btn m-1" *ngIf="blogs.first!=true" (click)="getBlogs(blogs.number-1)"><mat-icon>arrow_back</mat-icon></button>
    <button class="btn m-1" *ngIf="blogs.last!=true" (click)="getBlogs(blogs.number+1)"><mat-icon>arrow_forward</mat-icon></button>
  </div>
</div>
  </div>
  <div class="col-md-8 p-3">
<div class="border rounded shadow bg-l p-3">
  <h2>Inseriscine uno</h2>
  <form [formGroup]="insertBlogForm" class="row">
    <div class="col-md-8">
      <label class="p-2">Titolo</label>
  <input type="text" class="form-control" formControlName="titolo" (input)="showSuccessMessage=''">
  <p class="text-danger p-2 fw-bold" *ngIf="insertBlogSubmitted&&insertBlogForm.controls['titolo'].invalid">Campo invalido.</p>
</div>
    <div class="col-md-4">
       <label class="p-2">Categoria</label>
  <select type="text" class="form-select" formControlName="categoria" (change)="showSuccessMessage=''">
    <option value=""></option>
  <option value="{{c}}" *ngFor="let c of categories">{{c}}</option>
  </select>
  <p class="text-danger p-2 fw-bold" *ngIf="insertBlogSubmitted&&insertBlogForm.controls['categoria'].invalid">Seleziona una categoria.</p>
    </div>
 <div class="col-md-12">
  <label class="p-2">Testo</label>
  <textarea type="text" class="form-control" formControlName="testo" (input)="showSuccessMessage=''"></textarea>
  <p class="text-danger p-2 fw-bold" *ngIf="insertBlogSubmitted&&insertBlogForm.controls['testo'].invalid">Campo invalido.</p>
 </div>
 <div class="col-md-8">
    <label class="p-2">Autore</label>
  <input type="text" class="form-control" formControlName="autore" (input)="showSuccessMessage=''">
  <p class="text-danger p-2 fw-bold" *ngIf="insertBlogSubmitted&&insertBlogForm.controls['autore'].invalid">Campo invalido.</p>
 </div>
 <div class="col-md-4">
 <label class="p-2">Tempo lettura</label>
  <input type="number" class="form-control" formControlName="tempoLettura" (input)="showSuccessMessage=''">
  <p class="text-danger p-2 fw-bold" *ngIf="insertBlogSubmitted&&insertBlogForm.controls['tempoLettura'].invalid">Valore minimo = 1</p>
 </div>
 <div class="col-md-12 p-2">
  <button class="btn" type="button" (click)="postBlog()">
    Inserisci
  </button>
  <p class="py-3 text-danger fw-bold">{{insertBlogError}}</p>
  <p class="py-3 text-success fw-bold">{{showSuccessMessage}}</p>
</div>
  </form>
</div>
  </div>
    </div>
  </div>
</div>

